<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand fa fa-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse fa" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'about' %}">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link " href="{% url 'album' %}">Albums</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if not request.user.is_authenticated %}
          <a class="dropdown-item fa fa-user" href="{% url 'account_login' %}"> Login</a>
          <a class="dropdown-item fa fa-user-circle" href="{% url 'account_signup' %}">Sign Up</a>
          {% else %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
        </div>
        {% endif %}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="fa-1x fa-user-circle">Welcome</span></p>
      
    </form>
  </div>
</nav>